<div class="breadcrumbs ace-save-state" id="breadcrumbs" ng-init="initDatosTest()">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="principal.html#!/">Inicio</a>
        </li>
        <li class="active">Test</li>
        <li class="active">Instrucciones</li>
    </ul><!-- /.breadcrumb -->

    <div class="nav-search" id="nav-search">

    </div><!-- /.nav-search -->
</div>
<div class="page-header">
    <h1>
        Instrucciones
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Lea detenidamente el instructivo
        </small>
    </h1>
</div><!-- /.page-header -->
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">INSTRUCCIONES</h4>
            </div>

            <div class="widget-body">
                <div class="widget-main no-padding">
                    <form class="form-horizontal" role="form" ng-submit="siguiente()"> 
                        <!-- <legend>Form</legend> -->
                        <fieldset>

                            <div class="widget-body">
                                <div class="widget-main padding-6 no-padding-left no-padding-right">
                                    A continuación encontrará una serie de frases sobre formas de pensar, sentir o actuar, para que las vaya leyendo atentamente y
                                    marque la respuesta que describa mejor cuál es su forma habitual de pensar, sentir o actuar.
                                </div>
                                <div class="widget-main padding-6 no-padding-left no-padding-right">
                                    <div class="widget-main padding-6 no-padding-left no-padding-right">
                                        A continuación encontrará una serie de frases sobre formas de pensar, sentir o actuar, para que las vaya leyendo atentamente y
                                        marque la respuesta que describa mejor cuál es su forma habitual de pensar, sentir o actuar.
                                    </div>
                                </div>
                                <div class="widget-main">
                                    <p class="alert alert-info">
                                        <strong>5</strong>&nbsp&nbsp&nbsp&nbspCompletamente <strong>VERDADERO</strong> para mí <br>
                                        <strong>4</strong>&nbsp&nbsp&nbsp&nbspBastante <strong>VERDADERO</strong> para mí <br>
                                        <strong>3</strong>&nbsp&nbsp&nbsp&nbspNi <strong>VERDADERO</strong> ni <strong>FALSO</strong> para mí <br>
                                        <strong>2</strong>&nbsp&nbsp&nbsp&nbspBastante <strong>FALSO</strong> para mí <br>
                                        <strong>1</strong>&nbsp&nbsp&nbsp&nbspompletamente <strong>FALSO</strong> para mí
                                    </p>
                                </div>
                                <div class="widget-main padding-6 no-padding-left no-padding-right">
                                    <div class="widget-main padding-6 no-padding-left no-padding-right">
                                        Vea como se han contestado aquí dos frases:
                                    </div>
                                </div>
                                <div class="widget-main padding-6 no-padding-left no-padding-right">
                                    <div class="row">
                                        <div class="col-md-6">
                                            E1. Me gusta pasear por el parque de la ciudad
                                        </div>
                                        <div class="col-md-1">
                                            E1
                                        </div>
                                        <div class="col-md-1" style="text-align: center; border-width: 1px;border-color: black;border-style: solid dotted solid;">
`                                          2
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            E2. La familia es el móvil de todos mis actos.
                                        </div>
                                        <div class="col-md-1">
                                            E2
                                        </div>
                                        <div class="col-md-1" style="text-align: center;border-width: 1px;border-color: black;border-style: solid dotted solid;">
                                            5
                                        </div>
                                    </div>
                                    <div class="widget-main padding-6 no-padding-left no-padding-right">
                                        <div class="widget-main padding-6 no-padding-left no-padding-right">
                                            No existen respuestas correctas o incorrectas, buenas o malas; la persona que contestó a las dos frases anteriores consideró
                                            que la frase E1 es “bastante falsa” para ella (señaló con el número 2) y que la frase E2 es “completamente verdadera” para ella
                                            (señaló con el 5) porque pone a la familia por delante del dinero y de los amigos.
                                        </div>
                                    </div>
                                    <div class="widget-main padding-6 no-padding-left no-padding-right">
                                        <div class="widget-main padding-6 no-padding-left no-padding-right">
                                            <strong>Procure contestar a todas las frases. Recuerde que debe dar su propia opinión acerca de Ud. Trate de ser
                                            SINCERO CONSIGO MISMO y contestar con espontaneidad, sin pensarlo demasiado. Sus respuestas serán tratadas
                                            confidencialmente y sólo se utilizarán de modo global, transformadas en puntuaciones.</strong>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </fieldset>
<!--ng-click="navegacion('/testForm')"-->
                        <div class="form-actions center">
                            <button type="button" class="btn btn-sm btn-success" ng-click="siguiente1()">
                                Siguiente
                                <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110" ></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

 
</div>
